.wdqms-footer {
  display: flex;
  justify-content: space-between;
  background-color: #f4f7fb;
  max-height: 2.5vh;
  padding: 4px;
  border-top: 0.5px solid #c6d2e1;
  position: absolute;
  bottom: 0;
  /* top: 10; */
  width: 100%;
  height: 50px;
}
