.text_compliance {
    float: left;
    margin-bottom: 10px;
    margin-top: 16px;
    padding: 21px 21px 0;
    width: 60%;
}
.text_compliance ul {
    margin-top: 20px;
    margin-bottom: 0px;
}
.li_surface {
    float: left;
    margin-right: 39px;
}
.li_temp {
    float: left;
}